{% extends '::base.html.twig' %}

{% block body -%}
<div id="contenedor">
    <h1>Listado de cortos</h1>

    <table>
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Titulo</th>
                <th>Anio</th>
                <th>Generofk</th>
                <th>Festivalfk</th>
                <th>Url</th>
                <th>Duracion</th>
                <th>Director</th>
                <th>Compania</th>
                <th>Telefono</th>
                <th>Sitioweb</th>
                <th>Sinopsisespaniol</th>
                <th>Sinopsisingles</th>
                <th>Carousel</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_corto_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_corto_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.anio }}</td>
                <td>{{ entity.generoFk }}</td>
                <td>{{ entity.festivalFk }}</td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.duracion }} minutos</td>
                <td>{{ entity.director }}</td>
                <td>{{ entity.compania }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.sitioWeb }}</td>
                <td><div style="width: 126px; overflow: hidden;">{{ entity.sinopsisEspaniol }}</div></td>
                <td><div style="width: 126px; overflow: hidden;">{{ entity.sinopsisIngles }}</div></td>
                <td>
                {% if entity.carousel == 1 %}
                    Si
                {% else %}
                    No
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_corto_new') }}">
                Crear nuevo
            </a>
        </li>
    </ul>
 </div>   
    {% endblock %}
