{% extends '::base.html.twig' %}

{% block body -%}
	<script>
    $(function(){
        $("#bloodwindow_bwbundle_proyecto_submit").before('<input type="hidden" id="nombreArchivo" name="nombreArchivo" /><div class="required" style="margin-left:10px; font-weight:bold;">Portada: </div><br><div id="fileuploader">Subir imagen</div><span id="imagen_subida"><img src="/uploads/proyecto/{{entity.id}}.jpg" width="100"></span><br>');
        $("#fileuploader").uploadFile({
            url:"../upload",
            fileName:"myfile",
            onSuccess:function(files,data,xhr)
            {
                $("#nombreArchivo").val(files);
                var imagen = '<img src="/uploads/proyecto/temp/' + files + '" width="100">';
                $("#imagen_subida").html(imagen);
            }
        });

        // Para la caratula
        $("#bloodwindow_bwbundle_proyecto_submit").before('<input type="hidden" id="nombreArchivoCaratula" name="nombreArchivoCaratula" /><div class="required" style="margin-left:10px; font-weight:bold;">Imagen caratula: </div><br><div id="fileuploader_caratula">Subir imagen</div><span id="imagen_subida_caratula"><img src="/uploads/proyecto/caratula/{{entity.id}}.jpg" width="100"></span><br>');

            $("#fileuploader_caratula").uploadFile({
                url:"../upload/caratula",
                fileName:"myfile",
                onSuccess:function(files,data,xhr)
                {
                    $("#nombreArchivoCaratula").val(files);
                    var imagen = '<img src="/uploads/proyecto/caratula/temp/' + files + '" width="100">';
                    $("#imagen_subida_caratula").html(imagen);
                }
            });
    });
    </script>
    <h1>Proyecto edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_proyecto') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

<link href="/web/bundles/bloodwindowbw/css/uploadfile.min.css" rel="stylesheet">
<script src="/web/bundles/bloodwindowbw/js/jquery/jquery.uploadfile.min.js"></script>

{% endblock %}
